/* variable */

:root {
    --asosiy-rang: #15b10f;
    --asosiy-rang-och: #c7ed79;
    --seriy-rang: #a5a5a5;
    --qora-rang: #1e1d24;
  }
  
  /* variable end */
  
  /* reset */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  /* reset end */
  
  /* utils */
  
  .container {
    width: 95%;
    margin: 0 auto;
  }
  
  .container>img{
    width: 260px;
  }
  
  .bottom-navbar li{
    display: inline-block;
    padding: 25px;
  }
  
  .one-of-third {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .two-of-third {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
  }
  
  
  .right {
    float: right;
  }
  
  .left {
    float: left;
  }
  
  .clear-fix {
    clear: both;
  }
  
  /* utils end */
  
  /* components */
  
  
  .dropdown1 {
    padding: 5px 0;
    display: none;
    position: relative;
  }
  
  .dropdown1>button {
    all: unset;
  }
  
  .dropdown1 .drop-links {
    width: 80px;
    text-align: right;
    padding: 20px;
    position: absolute;
    top: 50px;
    background-color: white;
    color: darkslategray;
    right: 0;
    display: none;
  }
  .dropdown1:hover .drop-links {
    display: block;
  }
  
  .dropdown {
    position: relative;
  }
  .dropdown2 {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -40%;
    background-color: #fff;
    box-shadow: 0 0 10px #eee;
    padding: 1em;
    border-radius: 10px;
    box-shadow: green 5px 10px 15px 5px;
    display: none;
  li{width: 100%;
    border-radius: 5px;
      &:hover{
        width: 100%;
        background-color: #15b10f;
        color: white;
      }
  }
  }
  .dropdown-menu2 {
    position: absolute;
    top: 100%;
    left: -150%;
    background-color: #fff;
    box-shadow: 0 0 10px #eee;
    padding: 1em;
    min-width: 250px;
    display: none;
  
  }
  
  .dropdown-menu li {
    padding: 0.7em 1.3em;
    margin: 0.3em 0;
    color: darkslategray;
    font-family: cooper;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown2:hover .dropdown-menu2 {
    display: block;
  }
  /* components end */
  
  /* header#main-header */
  
  header#main-header {
    position: fixed;
    width: 100%;
    top: 0px;
  }
  
  header#main-header .main-header__top {
    padding: 1rem 0;
    background-color: var(--asosiy-rang);
    color: #fff;
  }
  
  header#main-header .main-header__top .sale-text {
    font-size: 0.9rem;
    display: inline-block;
  }
  header#main-header .main-header__top .top-navbar li {
    display: inline-block;
    padding: 0.25em 1em;
  }
  header#main-header .main-header__top .top-navbar li:not(:last-child) {
    border-right: 1px solid #fff;
  }
  
  header#main-header .main-header__top .top-navbar li:hover {
    color: var(--asosiy-rang-och);
  }
  
  header#main-header .main-header__bottom {
    background-color: #fff;
    padding: 0.5em 0;
  }
  header#main-header .main-header__bottom li:not(.dropdown-menu > li) {
    display: inline-block;
    padding: 1.5em 1em;
    margin-left: 5px;
    color: var(--seriy-rang);
    font-family: cooper black;
  }
  
  header#main-header .main-header__bottom li:not(.dropdown-menu > li).active,
  header#main-header .main-header__bottom li:not(.dropdown-menu > li):hover {
    color: var(--asosiy-rang);
  }
  header#main-header
    .main-header__bottom
    li:not(.dropdown-menu > li):hover
    .dropdown-menu {
    color: var(--seriy-rang);
  }
  /* header#main-header end */

#language{
  all: unset;
  width: 40px;
  text-align: center;
}

  /* section#showcase  */
  
  section#showcase {
    background: url(https://ld-wp73.template-help.com/woocommerce/prod_11619/v3/wp-content/uploads/2020/01/bg1-1.jpg)
      no-repeat center / cover;
    padding: 5rem 0;
  }
  section#showcase .showcase-main-title {
    font-size: 2.5rem;
    margin: 1em 0;
  span,&+p>span {
    color: var(--asosiy-rang);
    font-weight:bold;
    font-family: cooper Black;
  }
}
  
  section#showcase p {
    font-size: 1.5rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.orta{
  text-align: center;
  margin-left: 116%;
  display: inline-block;
}
  
  section#showcase a.showcase-cta {
    display: inline-block;
    background-color: var(--asosiy-rang);
    color: #fff;
    width: 90px;
    margin-left: 35px;
    padding: 1em 1.5em;
border-radius: 5px;
&+a{ 
    width: 170px;
    margin-top: 5px;

}

  }
  
  section#showcase a.showcase-cta:hover {
    background-color: var(--qora-rang);
  }
  
  /* section#showcase end */
  
  /* Welcom */
  .welcom{
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
  }
  .welcom p{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
  }
  .best{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 20px;
  }
  .best h1{
    margin: 1.6rem;
    display: block;
    font-size: 50px;
    color: #c7ed79;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  .best p{
    color: #1e1d24c0;
    margin: .9rem;
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    background-color: #c7ed79;
    padding: 10px 12px;
    border-radius: 10px;
    &:hover{
      background-color: grey;
      color: white;
    }
  }
  .best div{
    color: rgba(0, 0, 0, 0.651);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
  }
  .fruits{
    vertical-align: middle;
    box-sizing: border-box;
    margin-top:  2.5rem;
    margin-bottom: 2rem;
  }
  .fruits img{
    display: inline-block;
    margin: 0.5rem  ;
  }
  .our h1{
    font-size: 35px;
    font-family: 'Pacifico', cursive;
  }
  .our li{vertical-align: top;
    display: inline-block;
    padding: 15px 30px;
  font-size: 13px;
  }
  .img2{
    display: inline-block;
    width: 200px;
    margin: 1.3rem 1rem;
    img{
      height: 142px;
    }
  }
  .img2 p{
    margin: .5rem;
    display: block;
    color: rgb(58, 145, 36);
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .img2 p:hover{
    color: #6e4d63;
  }
  .img2 .p1{
    color: rgb(114, 112, 240);
    display: block;
    font-size: 14px;
  }
  .img2 h2{
    color: #678330;
    font-size: 22px;
  }
  
  /* Welcom end*/
  /* Fruits and Vegetables */
  .vegetable{
    background-image: url(https://ld-wp73.template-help.com/woocommerce/prod_11619/v3/wp-content/uploads/2020/01/banners2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 30em;
    padding: 10em;
  
  
  }
  
  .vegetable h1{
    font-size: 50px;
  }
  
  .vegetable p{
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    
  }
  
  .vegetable a{
    color: white;
    display: inline-block;
    background-color: #678330;
    width: 120px;
    height: 40px;
    margin: 1rem;
    padding: .8rem;
    border-radius: .4rem;
    font-size: 14px;
  }
  
  .vegetable a:hover{
    background-color: rgb(34, 44, 13);
  }
  
  /* Fruits and Vegetables end*/
  /* Yurak */
  .dib img{
    display: inline-block;
    width: 58%;
  
  
  }
  .dib>div{
    display: inline-block;
    width: 29%;
    vertical-align:bottom;
    margin-bottom: 9rem;
    margin-left: 1rem;
  
  }
  .dib>div>div{
    margin: 2rem 0;
   
    display: inline-block;
  }
  .dib h2{
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  
  
  }
  .dib p{
    font-size: .8rem;
    line-height: 1.2rem;
    display: inline-block;
  }
  /* Yurak end*/
  /* Latest */
  .latest{
    text-align: center;
    margin: 3rem 0;
  }
  .latest>div{
    display: inline-block;
  }
  .latest>div>img{
    border-radius: 1rem;
  }
  .latest h1{
    font-size: 1.9rem;
    font-family: 'Pacifico', cursive;
    margin: .5rem;
  
  }
  .latest>div>p{
    margin: .5rem;
    font-weight: 900;
    font-size: .8rem;
    color: #090e01;
  }
  .latest>div>h2:hover{
    color: #c7ed79;
  }
  .latest>div>p:hover{
    color: #679509;
  }
  .latest>div>h2{
    font-weight: 100;
    font-size: .6rem;
    color: #0c0f06b2;
  
  }
  .mark{
    text-align: center;
    display: inline-block;
  }
  
  .uchtalik{
    display: inline-block;
    width: 25%;
  }
  .uchtalik h1{
    display: inline-block;
    font-size: 2.3rem;
    font-family: 'Pacifico', cursive;
  }
  
  
  /* Latest end */
  /* Our Clients  */
  .bobo{
    background-image: url(https://ld-wp73.template-help.com/woocommerce/prod_11619/v3/wp-content/uploads/2020/01/bg5.jpg);
    background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      height: 30rem;
      padding-top: 8rem;
  }
  .bobo div{
    /* width: 35rem; */
    text-align: center;
    display: inline-block;
    width: 49%;
    >img{
      width: 170px;
      border-radius: 50%;
    }
  }
  .bobo h1{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #090e01ce;
  
  }
  .bobo p{
    color: rgba(255, 255, 255, 0.63);
  }
  /* Our Clients end  */
  
  /* button */
  .subs{
    background-color: #fff;
    text-align: center;
  padding:2.5em;
  }
  .subs h1{
    font-weight: 300;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
  
  }
  .input{
    border-radius: .5rem;
    box-shadow:.15rem .15rem  burlywood ;
    width: 20rem;
    height: 2rem;
  }
  .button{
    border-radius: .5rem;
    box-shadow:.15rem .15rem  burlywood ;
    width: 7rem;
    height: 2rem;
    background-color: darkorange;
    color: white;
  
  }
  .button:hover{
    background-color: darkgrey;
    color: rgb(9, 60, 61);
  }
  
  /* button */
  
  /* Oxiri */
  
  .tugadi{
    text-align: center;
    background-image: url(https://ld-wp73.template-help.com/woocommerce/prod_11619/v3/wp-content/uploads/2020/01/footer-widgets-bg.jpg);
    background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
  
  }
  
  
  .halff{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding: 50px;
  
  }
  
  
  .halff p{
    font-family: 'Pacifico', cursive;
    margin: 1rem 0;
    text-align: left;
    vertical-align:top;
    color: rgba(0, 0, 0, 0.534);
  
  }
  
  .half{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    padding: 50px;
  
  }
  
  .half p{
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: left;
    vertical-align:top;
    color: rgba(0, 0, 0, 0.534);
  
  }
  .half li{
    text-align: left;
    font-size: .8rem;
    line-height: 1.3rem;
    color: #090e018e;
  }
  .half li:hover{
    color: #679509;
  }
  .half i{
    color: rgb(134, 199, 5);
  }
  /* Oxiri end */

.rang{
  text-align: left;
  margin-left: 136px;
  span{
    color: var(--asosiy-rang);
  }
}

  .container form{
    text-align: center;
    fieldset{
      margin: 0px 0 0 120px ;
      padding: 40px;
      border-radius: 10px;
      background-color: rgba(128, 128, 128, 0.527);
      box-shadow: 20px 20px 15px grey;
      a{
        color: blue;
        margin-right: 10px;
      }
      h2{
        font-size: 25px;
        color: var(--asosiy-rang);
        padding: 0 0 20px 10px;
        border-radius: 10px;
        text-align-last: left;
      }
      input{
        font-size: 17px;
        margin: 10px;
        background-color: white;
        color: rgb(10, 146, 5);
        width: 300px;
        height: 40px;
        border-radius: 5px;
        &::-webkit-input-placeholder{
          color: rgb(102, 102, 102);
          text-align: center;
          font-size: 17px;
        }
      }
      .but{
        border-radius: .5rem;
        width: 7rem;
        height: 2rem;
        background-color: darkorange;
        color: white;
        a{
        margin-left: 9px;
          color: white;
        }
      }
    }
  }
  
.malumot{border: 1px solid green;
width: 80%;
margin: 0 auto;
line-height: 30px;
background-color: #1e1d24;
thead{
  width: 100%;
  color: var(--asosiy-rang);
  background-color: white;
tr{border: 1px solid;
  th{
    border: 1px solid;
    font-size: 20px;
    
  }
  
}
}
tbody{
  tr{
    td{
      background-color: white;
      border: 1px solid green;
    }
  }
  .red{
    td{
      background-color: #ff0000;
    }
  }
  .yellow{
    td{
      background-color: yellow;
    }
  }
}
}








  /* media query */
  
  @media (max-width: 850px) {
  
.none{
  display: none;
}

  .drop-links{
    left: -10px;
    padding: 0;
    margin-top: 10px;
  }
  
  .dropdown-menu {
    left: -350%;
    padding: 0;
    min-width: 50px;
  }
    
  .halff{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding: 50px;
  }
  
  .halff a{width: 130px;}
  
    section#showcase {
      background-position-x: -550px;
    }
  
    section#showcase .showcase-main-title {
      font-size: 2rem;
    }
  
    
    .welcom>.best{width: 80%;}
  
    .our li{width: 90%;
    margin: 10px;}
    
  .latest>div+div{display: none;}
  
  .mark>.uchtalik+.uchtalik+.uchtalik{display: none;}
  
  .uchtalik{width: 49%;}
  
  .dib>div>div+div{display: none;
  }
  
  .dib>div{margin: 0;}
  
  .vegetable{padding-top: 65px;}
  
    #showcase .showcase-main-title + p {
      font-size: 1rem !important;
    }
  
    
    .input{width: 65%;}
  
    .button{width: 28%;
    font-size: 11px;}
  
    .tugadi>.half{width: 30%;
    padding: 0;}
  
    .tugadi>.half+.half+.half+.half{
  width: 100%; 
  padding: 30px;   
    
    }
  }
  
  /* media 850px  end */

  /* media 760px  start */

  @media (max-width: 760px) {
    header nav {
      display: none;
    }
  
    
    .dropdown1 {
      padding: 0 30px;
      margin-top: -60px;
      float: right;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .drop-links{
    left: -10px;
    padding: 0;
    margin-top: 10px;
  }
  
  .dropdown-menu {
    left: -350%;
    padding: 0;
    min-width: 50px;
  }
    
  .halff{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    padding: 50px;
  }
  
  .halff a{width: 130px;}
  
    section#showcase {
      background-position-x: -550px;
    }
  
    section#showcase .showcase-main-title {
      font-size: 2rem;
    }
  
    
  
    .our li{width: 90%;
    margin: 10px;}
    
  .latest>div+div{display: none;}
  
  .mark>.uchtalik+.uchtalik+.uchtalik{display: none;}
  
  .uchtalik{width: 49%;}
  
  .dib>div>div+div{display: none;
  }
  
  .dib>div{margin: 0;}
  
  .vegetable{padding-top: 65px;}
  
    #showcase .showcase-main-title + p {
      font-size: 1rem !important;
    }
  
    .tugadi>.half{width: 30%;
    padding: 0;}
  
    .tugadi>.half+.half+.half+.half{
  width: 100%; 
  padding: 30px;   
    
    }
  }
  
  /* media 760px  end */
  
  input[type="checkbox"]#drop1 {
    visibility: hidden;
  }
  
  .dropdown-check-menu {
    display: none;
  }
  
  input[type="checkbox"]#drop1:checked + .dropdown-check-menu {
    display: block;
  }
  
  
  @media (max-width: 400px) {
    header nav {
      display: none;
    }
  
    section#showcase {
      background-position-x: -800px;
    }
  
    section#showcase .showcase-main-title {
      font-size: 2rem;
    }
  
    #showcase .showcase-main-title + p {
      font-size: 1rem !important;
    }
    
  .vegetable{padding-left: 0;
  padding-right: 0;}
  
  .vegetable h1{
    font-size: 40px;
  }
  .vegetable p{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    
  }
  .dib>img{width: 100%;}
  
  .dib>div{width: 100%;
    text-align: center;
    vertical-align: top;
  }
  
  .dib>div>div{width: 90%;
  vertical-align: top;}
  
  .dib>div>div+div{display: inline-block;}
  
  .latest>div+div{display: none;}
  
  .mark>.uchtalik+.uchtalik{display: none;}
  
  .uchtalik{width: 100%;}
  
  .fruits>img{width: 350px;}
  
  
  .tugadi>.half{width: 25%;}
    
  .tugadi>.half+.half+.half+.half{
  width: 100%;    
  
  }
  
  
  }
  
  /* media query end */